/* Модальное окно стили */
.cd-user-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 3;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}
.cd-switcher {
  display: flex;
  justify-content: center;
}
.lk-login {
  color: black;
  margin-right: 250px;
  list-style: none;
  text-decoration: none;
  transition: color 0.3s;
}
.lk-signup {
  color: black;
  list-style: none;
  text-decoration: none;
  transition: color 0.3s;
}
.lk-login:hover {
  color: #ff708c;
}

.lk-signup:hover {
  color: #ff708c;
}

.cd-user-modal.is-visible {
  visibility: visible;
  opacity: 1;
}

.cd-user-modal-container {
  position: relative;
  width: 90%;
  max-width: 600px;
  background: rgb(255, 255, 255);
  margin: 3em auto;
  padding: 2em;
  border-radius: 14px;
}

.cd-form {
  padding: 1.4em;
  transition: opacity 0.3s ease transform 0.3s ease;
  transform: translateY(20px);
}

.cd-form.is-visible {
  opacity: 1;
  transform: translateY(0);
  display: block;
}

.cd-form input {
  background-color: 1px solid rgba(255, 112, 140, 0.9);
  border-radius: 0.25em;
  padding: 12px 20px;
  width: 100%;
}

.cd-form input[type="submit"] {
  background: #ff708c;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.cd-form input[type="submit"]:hover {
  background: rgba(255, 112, 140, 0.9);
}

.cd-close-form {
  display: flex;
  justify-content: center;
}

.cd-error-message {
  background: rgba(215, 102, 102, 0.9);
  color: #fff;
  padding: 0.8em;
  border-radius: 0.25em;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
}

.cd-error-message.is-visible {
  visibility: visible;
  opacity: 1;
}

.fieldset {
  color: black;
}

.conditions {
  color: black;
  list-style: none;
  text-decoration: none;
  transition: color 0.3s;
}

.conditions:hover {
  color: #ff708c;
}

.remember-me-position {
  display: flex;
  color: black;
}
.remember-me-position input {
  margin-top: 5px;
  height: 15px;
  width: 15px;
}

.cd-form-bottom-message a {
  list-style: none;
  text-decoration: none;
  color: black;
  transition: color 0.3s;
}
.cd-form-bottom-message:hover a {
  color: #ff708c;
}

.hide-password {
  list-style: none;
  text-decoration: none;
  color: black;
  transition: color 0.3s;
}
.hide-password:hover {
  color: #ff708c;
}
