/* Стили слайдера */
.sim-slider {
    position: relative;
    margin: 0 auto;
    padding: 20px;
    overflow: hidden;

}

.swiper-wrapper {
    transition: transform 0.5s ease;

}

.swiper-slide {
    flex: 0 0 10%; 
    margin: 0 15px; 
    transition: transform 0.5s ease;
}

.image-slider_image img, video {
    border-radius: 14px;
    height: 450px;
    width: 820px;
}

.preview-image-slider_image img{
    border-radius: 14px;
    padding: 19px 0px 0px 0px;
    width: 400px;
    height: 220px;
}
.top-image-slider_image img{
    align-items: end;
    border-radius: 14px;
    height: 520px;
    width: 380px;
}

.animated-video {
    display: none; 
}

.image-slider_image:hover .animated-video {
    display: block;
}

.animated-gif {
    display: none;
}

.image-slider_image:hover .static-image {
    display: none;
}

.image-slider_image:hover .animated-gif {
    display: block; 
}

.image-slider_image {
    position: relative;
}

.highlight {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    flex-direction: column;
    padding: 20px;
}

.highlight:hover {
    background: rgba(0, 0, 0, 0);
}


.highlight h1 {
    display: flex;
    padding-top: 300px;
    font-size: 24px;
    margin-bottom: 10px;
}

.highlight p {
    display: flex;
    font-size: 16px;
}

.top-highlight h1 {
    display: flex;
    justify-content: center;
    padding-top: 525px;
}

.top-highlight p {
    display: flex;
    font-size: 16px;
}

/* Стили для кнопок навигации */
.swiper-button-prev,
.swiper-button-next {
    color: white; 
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 50%; 
    width: 40px;
    height: 40px; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s; 
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    background-color: rgba(255, 255, 255, 0.5); 
}

/* Стили для пагинации */
.swiper-pagination {
    text-align: center;
    color: rgba(255, 112, 140, 0.9);
}

.swiper-pagination-bullet {
    background: white; 
    opacity: 0.7; 
}

.swiper-pagination-bullet-active {
    opacity: 1; 
}

.anonsimg_container {
    position: relative; 
    display: flex;
    justify-content: center; 
}

.anons_img_container a img {
    border-radius: 20px;
    width: 1532px;
    height: 600px; 
}

.overlay {
    padding: 10px 14px;
    position: absolute; 
    top: 40%; 
    left: 10%;  
    color: white; 
    text-align: left; 
    border-radius: 20px;
    padding: 20px; 
    pointer-events: none;
}

.overlay h1,
.overlay p {
    margin: 10; 
}

.overlay button {
    border-radius: 40px;
    padding: 10px 14px;
    width: 120px;
    height: 40px; 
    background: rgba(255, 112, 140, 0.9);
    color: white; 
    border: none; 
    border-radius: 5px;
}

.overlay button:hover {
    background: rgba(255, 112, 140, 0.5);
} 